/* Suppression des styles Vite inutiles */
#root {
  margin: 0 auto;
  padding: 0;  /* Enlève le padding qui pourrait causer un décalage */
}

/*Gestion du conteneur principal*/ 
.container {
  max-width: 1200px;  
  margin: 0 auto;  
  padding: 0 50px; 
}

 /* Version Mobile */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; 
    max-width: none; 
    padding: 0; 
  }
}