.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }
  
  /* Adaptation pour mobile */
  @media screen and (max-width: 768px) {
    .about__content {
      padding: 20px;
    }
  }
  