.notfound {
    text-align: center;
    margin: 100px 0;
  
    &__title {
      font-size: 200px;
      font-weight: bold;
      color: #ff6060;
      margin : 100px 0;
    }
  
    &__text {
      font-size: 30px;
      margin: 20px 0;
      color: #ff6060;
    }
  
    &__link {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      color: #333;
      text-decoration: none;
      text-decoration: underline;
      transition: 0.3s;
    }
  
    @media screen and (max-width: 768px) {
      &__title {
        font-size: 90px;
      }
  
      &__text {
        font-size: 25px;
      }
    }
  }  